<!-- zone header superieure -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Voice Translator by JC...
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>VOICE TRANSLATOR</h1>
  <ion-grid>
    <ion-row class="ion-justify-content-between ion-margin-vertical">
      <ion-col size="5">
        <ion-list>
          <ion-item>
            <ion-select placeholder="De..." #fromLanguage>
              <ion-select-option *ngFor="let lang of listFromLanguage.list" value="{{lang.code}}">{{lang.langue}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="5">
        <ion-list>
          <ion-item>
            <ion-select placeholder="Vers..." #toLanguage>
              <ion-select-option *ngFor="let lang of listToLanguage.list" value="{{lang.code}}">{{ lang.langue }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <!-- label + textarea ou l'utilisateur tape le texte à traduire: -->
    <ion-item>
      <ion-label position="floating">Entrez votre texte à traduire ici...</ion-label>
      <ion-textarea clearOnEdit="true" rows="8" #textToTranslate></ion-textarea>
    </ion-item>
    <!-- bouton d'envoi -->
    <ion-button class="ion-margin-top" color="primary" size="large" (click)="sendText()">Primary</ion-button>
    <!-- Spinner de chargement -->
    <ion-row *ngIf="loading" class="ion-justify-content-center">
      <ion-col size="1">
        <ion-spinner color="tertiary"></ion-spinner>
      </ion-col>
    </ion-row>
    <!-- texte traduit -->
    <ion-item>
      <ion-label position="floating">Traduction</ion-label>
      <ion-textarea rows="8" #translatedText disabled readonly></ion-textarea>
    </ion-item>
  </ion-grid>
</ion-content>